mixin following(user)
  .result
    .user-info
      .profile-pic
          span.center= `${user.initials}`
      .user-details
          .name= `${user.name}`
          .username= `@${user.username}`
      if user.username != loggedUser
        div.follow-btn-wrapper
          button.follow-btn.primary-btn(onclick=`toggleFollowUnfollow('${user.username}')`)= user.isFollowingMe ? 'Unfollow' : 'Follow' 