.menu-bar
  .pages
    .page.app-name
      span POSTMIT
    a(href=`/home`).page.active-page
      i.fas.fa-home
      span Home
    a(href=`/user/${loggedUser}`).page
      i.far.fa-user
      span Profile
    a(href='/user/bookmarks').page
      i.far.fa-bookmark
      span Bookmarks