.create-new-post
    .flex
      .profile-pic
        span SS
      .content
        textarea#newPostMessage(placeholder="What's happening?")
    button.primary-btn#post-btn(onclick='addNewPost()') Post
