.post.create-post
  .row
    .profile-pic
      span.center= initials
    .content( contenteditable data-placeholder="What's Happening?")
  div.row.right-aligned
    .counter
      span#character-count 180
    button.primary-btn#post-btn(onclick='addNewPost(\'newPostMessage\')') Post
