.post.create-post
  .row
    .profile-pic
      if imageUrl
        img(src=imageUrl)
      else 
        span.center= initials
    .content#message( contenteditable data-placeholder="What's Happening?")
  .row.right-aligned
    .counter
      span#char-count 180
    button.primary-btn.disable-primary-btn#post-btn(onclick='postMessage()') Post
