.create-new-post
    .flex
      .profile-pic
        span SS
      .content
        textarea#newPostMessage(placeholder="What's happening?" rows=3)
    div.flex.action-bar
      span.message-character-count#character-count 180
      button.primary-btn#post-btn(onclick='addNewPost(\'newPostMessage\')') Post
