doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/layout.css' type='text/css')
  link(rel='stylesheet' href='/stylesheets/menu-bar.css' type='text/css')
  link(rel='stylesheet' href='/stylesheets/profile.css' type='text/css')
  link(rel='stylesheet' href='/stylesheets/search-panel.css' type='text/css')
  link(rel='stylesheet' href='/stylesheets/post.css' type='text/css')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css' rel='stylesheet')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js")
  script(src="/javascripts/index.js")
  script(src="/javascripts/popup.js")
  script(src="/javascripts/post.js")
  script(src="/javascripts/request.js")
  script(src="/javascripts/search.js")
  script(src="/javascripts/saveUser.js")
  title Postmit
body
  include menubar.pug
  .main-panel
    block mainPanel
  include searchPanel.pug
script(src="/javascripts/time.js")
