extends components/postmitPage.pug

append mainPanel
  .header
    span= `#${hashtag}`
  .feed
    include components/post.pug
    each item in posts 
      +post(item)
  include components/searchPanel.pug