doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/styles/styles.css' type='text/css')
  link(rel='stylesheet' href='/styles/deletePopUp.css' type='text/css')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css' rel='stylesheet')
  script(src="/js/popup.js")
  script(src="/js/request.js")
  script(src="/js/index.js")
  title Postmit
.menu
  div
    .app-name POSTMIT
    .pages
      a.page(href='/home') Home
      a.page(href=`/user/${loggedUser}`) Profile
      a.page(href=`/user/bookmarks`) Bookmarks
      - let postPlaceholder = "What's Happening"
      button.popup-post-btn(onclick=`showPopup("${postPlaceholder}", 'addNewPost')`) Post
      a.page(href='/logout') Logout
.root
  .main-panel
    .header
      span= `#${hashtag}`
    .feed
      .posts#posts
        include components/post.pug
        each item in posts 
          +post(item)
  .search-panel
    .search-bar.flex
      .search-icon
        img(src='/assets/search.svg' alt='Search')
      .search-input(onkeyup='search()')
       input(type='text' placeholder='Search')
    .search-output
