doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/layout.css')
  link(rel='stylesheet' href='/css/post.css')
  script(src="js/request.js")
  script(src="js/saveUser.js")
  title More Details
body.index
  .center.form
    .app-name POSTMIT
    .description Update your profile Details
    .row.fields
      p#errorMessage.disable-visibility= 'no error'
      .field
        span.placeholder(for="username") Username
        input#username.input-bar(type='text')
      .field
        span.placeholder(for="name") Name
        input#name.input-bar(type='text')
      .field
        span.placeholder(for="dob") Date of Birth
        input#dob.input-bar(type='date' placeholder='Date of Birth')
      .field
        span.placeholder(for="bio") Bio
        textarea#bio.input-bar(rows='4')
    button.primary-btn#continue(onclick=`saveUser('${username}')`) Continue