extends components/layout.pug
include components/post.pug

append mainPanel
  .header
    span Post
  .feed#post
    +post(post,true)
  .header
    span Responses
  .feed#responses
    .posts
      each item in responses 
        +post(item)