extends components/profilePage.pug

append posts
  .user-activity
    .activity-bar
      a.activity-title(href=`/user/${username}`) Posts
      a.activity-title.activeTab(href='#') Likes
  .feed
    .posts
        include components/post.pug
        each item in likedPosts 
            +post(item)