extends components/profilePage.pug

append posts
  .categories
    a.category.active-category(href='#') Posts
    a.category(href=`/user/${username}/likes`) Likes
  .feed
    .posts
        include components/post.pug
        each item in posts 
            +post(item)
