extends components/profilePage.pug

append posts
  .user-activity
    .activity-bar
      a.activity-title.activeTab(href='#') Posts
      a.activity-title(href=`/user/${username}/likes`) Likes
  .feed
    .posts
        include components/post.pug
        each item in posts 
            +post(item)
