.post {
  padding: 14px 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.create-post {
  border-bottom: 10px solid rgba(0, 0, 0, 0.2);
}

.row {
  padding-bottom: 10px;
  display: flex;
}

.row:first-child {
  justify-content: space-between;
}

.profile-pic {
  position: relative;
  height: 3rem;
  width: 3rem;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 4px;
}

.profile-pic span {
  font-size: 1.4rem;
}

.content {
  width: 90%;
  font-size: 1.3rem;
  margin-left: 10px;
  outline: none;
  padding-top: 6px;
}

.content:empty:before {
  content: attr(data-placeholder);
  color: rgb(145, 151, 163);
}

.right-aligned {
  justify-content: flex-end;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.content > a {
  text-decoration: none;
}

.highlight-link {
  color: rgba(22, 191, 99, 1);
  text-decoration: none;
  font-weight: 600;
}

.highlight-link:hover {
  text-decoration: underline;
}

.user-info {
  display: flex;
}

.user-details {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name a:first-child {
  color: #333;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.username a {
  color: #333;
  text-decoration: none;
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  color: rgba(101, 118, 134, 1);
}

.icon:hover {
  cursor: pointer;
}

.icon i {
  font-size: 1.2rem;
}

.count {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 4px;
}

.hide-count {
  visibility: hidden;
}

.highlight-red:hover i,
.highlight-red:hover span,
.fill-red i,
.fill-red span {
  color: rgba(224, 36, 94, 1);
}

.highlight-blue:hover i,
.highlight-blue:hover span,
.fill-blue i,
.fill-blue span {
  color: rgba(22, 191, 99, 1);
}

.action-btn {
  display: flex;
  justify-content: space-evenly;
}

.action-btn button {
  background-color: rgb(230, 236, 240);
  color: #333;
}

.delete-btn {
  background-color: #e0245e !important;
  color: #fff !important;
}

.delete-popup {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 10px;
  width: 20vw;
  text-align: center;
  z-index: 3;
}

.delete-popup-heading {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.delete-popup-message {
  line-height: 24px;
  padding-bottom: 2rem;
}

.popup-create-post {
  border: none;
  background-color: #fff;
  width: 40vw;
  border-radius: 8px;
}
