@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
html {
  font-family: 'Roboto', sans-serif !important;
  letter-spacing: 0.8px !important;
}

body {
  margin: 0 6rem;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #15202c;
  height: 100vh;
  text-align: center;
}

.app-name {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  font-size: 6vh;
  padding-bottom: 4rem;
}

.description {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  font-size: 2.8vh;
  line-height: 5vh;
  padding: 0 2rem;
}

.action {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  width: fit-content;
  align-self: center;
  padding: 0 1rem;
  text-decoration: none;
  margin: 4rem auto 0;
}

.action:hover {
  cursor: pointer;
}

.authenticator-icon img {
  width: 3em;
  padding: 10px;
}

.authenticator-name {
  font-size: 1.4rem;
  font-weight: 700;
  align-self: center;
}

@media (max-width: 456px) {
  body {
    margin: 0 10px;
  }

  .description {
    font-size: 1.6rem;
    line-height: 5vh;
  }

  .authenticator-icon img {
    width: 2rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  border-radius: 1rem;
  border: 2px solid #15202c;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 1rem;
  padding: 10px 0;
}

.field label {
  padding-left: 1rem;
  color: rgba(255, 255, 255, 0.4);
}

.input-bar {
  width: 20vw;
  margin: 10px 1rem 0;
  outline: none;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}

.input-bar::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.continue {
  font-size: 1.4rem;
  font-weight: 700;
  align-self: center;
  padding: 1rem;
}

input[type='date' i] {
  font-family: 'Roboto', sans-serif !important;
}

.bio {
  font-family: 'Roboto', sans-serif !important;
  resize: none;
}

.simple-message {
  padding: 0;
}

.disable-visibility {
  visibility: hidden;
}

.valid-detail {
  color: #1bd91b;
}
.invalid-detail {
  color: #e0245e;
}
.highlight {
  border-bottom: 2px solid #e0245e;
}
