@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
html {
  font-family: 'Roboto', sans-serif !important;
  letter-spacing: 0.8px !important;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #15202c;
  height: 100%;
}

button:hover {
  cursor: pointer;
}

.flex {
  display: flex;
}

.root {
  display: flex;
  width: 90%;
}

.filter {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter .create-new-post {
  width: 40vw;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
}

.close-btn:hover {
  cursor: pointer;
}

.main-panel {
  padding: 1rem;
  width: 50%;
  margin: 0 1rem 0 1rem;
}

.header {
  margin-bottom: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header span {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}

.create-new-post {
  padding: 1rem 12px;
  border: 1px #8898a6 solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #15202c;
}
.create-new-post .content {
  box-sizing: border-box;
  padding-left: 10px;
  width: 100%;
  height: 12vh;
}
.create-new-post .content textarea {
  background-color: transparent;
  color: #fff;
  font-family: 'Roboto', sans-serif !important;
  padding: 4px;
  font-size: 1.1rem;
  border: none;
  resize: none;
  outline: none;
  line-height: 24px;
  letter-spacing: 0.8px;
  width: 100%;
  height: 100%;
}

.profile-pic {
  border-radius: 50%;
  height: 3.4rem;
  width: 3.4rem;
  border: 1px solid #fff;
  position: relative;
}
.profile-pic span {
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  font-weight: 700;
  color: #fff;
}

.primary-btn {
  align-self: flex-start;
  margin-top: 2rem;
  padding: 12px 2rem;
  font-size: 1rem;
  border-radius: 10rem;
  border: none;
  outline: none;
  background-color: #1da1f2;
  font-weight: 700 !important;
  color: #fff;
  text-align: center;
}

.create-new-post .primary-btn {
  align-self: flex-end;
}

.post {
  margin: 1rem 0;
  border: 1px solid red;
  width: 100%;
  padding: 1rem 12px;
  border: 1px #8898a6 solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.user-details {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.user-details .name {
  font-size: 1.1rem;
}
.user-details .username,
.user-details .timestamp {
  color: #8898a6;
}

.post-content {
  color: #fff;
  padding: 10px 4px;
  font-size: 1.1rem;
  border: none;
  line-height: 24px;
}

.actions {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 4rem;
  justify-content: space-between;
}
.actions .action img {
  width: 24px;
}

.search-panel {
  padding: 1rem;
  margin: 0 1rem 0 1rem;
  width: 20%;
}

.search-icon img {
  width: 24px;
}

.search-bar {
  margin-bottom: 1.2rem;
  border: 1px solid #8898a6;
  padding: 6px 1em;
  border-radius: 10rem;
}

.search-input input {
  background-color: transparent;
  outline: none;
  border: none;
  color: #8898a6;
  font-size: 1rem;
  margin-left: 4px;
  padding: 4px;
}

.center {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}

.menu {
  padding: 1rem 2rem;
  position: relative;
  width: 20%;
  margin: 0 1rem 0 1rem;
}

.app-name {
  font-weight: 700;
  color: #fff;
  font-size: 2rem;
}

.pages {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page {
  text-align: center;
  padding: 0.7rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
  width: fit-content;
  margin: 1rem 0 0 0;
  text-decoration: none;
}

.page:hover {
  background-color: #1da0f23a;
  border-radius: 100px;
}

.page:last-child {
  margin-top: 1rem;
}

.active-page {
  font-weight: 700;
  color: #1da1f2;
}

.logout-menu {
  margin-top: 20rem;
  border: 1px solid #8898a6;
  padding: 10px;
  border-radius: 8px;
  width: max-content;
}

.logout {
  margin-left: 1rem;
}

.logout img {
  width: 24px;
}

.icon {
  font-size: 30px;
  color: #8898a66f;
}

.fas,
.likeBtn:hover {
  color: rgb(224, 36, 94);
}
